/*@import url(//fonts.googleapis.com/css?family=Open+Sans);*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

/*Applies to ALL elements on site. */
* {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #25252C;
    color: white
    }

h1{
    line-height: 140%;
}

h3{
    font-size: 20px;
    line-height: 180%;
    }

p{
    font-size: 16px;
}

img{
    max-width: 100% ;
    height: auto ;
}

.img-fluid {
    margin: auto;
}

/* navigation bar */
.navbar-brand img{
    width: 20%;
}
.navbar {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
}

.navbar-nav li{
  padding-left:20px;
  padding-right:20px;
  font-size: 25px;
}

.navbar-brand {
    font-size: 20px;
    background: #353535;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
}

/* index page*/
.archieve_text{
    padding-top: 5%;
}

.largeimg{
    padding-top: 3%;
    padding-bottom:4%;
}

.titles {
    padding-top: 5%;
}

.margins{
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.hello{
    padding-top: 10%;
}

a:hover{
    color:white;
}

a{
    color: white;
}

.intro{
    padding-left: 10%;
    padding-right: 10%;
}

.col-md-4{
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

/* footer */
footer{
    padding-top: 3%;
    padding-bottom: 3%;
}

footer p{
    text-align: center;
}

@media (max-width: 640px) {
    .navbar-nav li{
        text-align: center;
    }

    /* work page */
    .project_image {
        width: 100% ;
        padding-right: 0;
        padding-bottom: 3rem;
    }
    .des {
        width: 80%;
        text-align: left;
    }

    #rounded{
        border-radius: 3%;
    }

    /* Bio photo */
    .bio-photo {
            width: 100%;
            height: auto;
        }
}