body {
    font-size: 100%;
}

h1 {
    font-size: 40px;
}

.box {
    margin: 60px 0;
    justify-content: center;
}

p{
font-size: 18px;}

img{
    max-width: 100% !important;
    height: auto !important;
}

/* navigation bar */
.navbar-brand img{
    width: 20%;
}

.navbar {
    padding-right: 12%;
    padding-left: 12%;
    padding-top: 3%;
}

.navbar-nav li{
  margin-left:20px;
  margin-right:20px;
  font-size: 20px;
}

@media (max-width: 640px) {
.navbar-nav li{
    text-align: center;
}
}

/* Work page*/
.intro-text {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
}

.des {
    float: right;
    width: 35%;
    margin-bottom: 0;
}

.project_image {
    width: 35%;
    margin-right: 6%;
}

.img-fluid {
    margin: auto;
}

.btn {
    margin-right: 10px;
}

@media (max-width: 640px) {
    .project_image {
        width: 100% ;
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .des {
        width: 80%;
        text-align: left;
    }
}

/* About page */
.bio-photo{
    width: 20%;
}

@media (max-width: 640px) {
.bio-photo {
        width: 100%;
        height: auto;
    }
}

.hmw {
    margin:7%;

}

/* Fun page */
/*
.gallery {
    width: 95%;
}

.center {
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

@media (max-width: 640px) {
.gallery {
        width: 80%;
        padding:5%;
        margin-left: 10%;
    }
} */

/* contacts */
.copyright {
text-align: center;
margin-right: 10%;
margin-left: 10%;
}

@media (max-width: 640px) {
    .copyright {
        margin-right: 10%;
        margin-left: 10%;
    }

    .margin {
        margin-left: none;
        margin-right: none;
    }
}

/* imagine */
.margin {
    margin-left: 15% !important;
    margin-right: 15% !important;
    line-height: 180% !important;
}

iframe, object, embed {
    max-width: 100%;
    margin-top: 3%;
}

.subt{
    border-bottom: solid 5px #ffd66b !important;
    padding-bottom: 3px !important;
    }

.img_center{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.smaller{
    width: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.large{
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.cover {
margin-top: 2%;
margin-bottom: 5%;
}
